
// Color codes
$color-red: #FF0000;
$color-green: #00ff00;
$color-blue: #0000FF;
$color-brand: #b6000b;
$color-darkGray: #676262;
$colo-lightGray: #f3eeee;
//Mixins
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}
@mixin textFormat($size:16px,$color:$color_darkGray,$weight:initial,$family:sans-serif){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color
}

@mixin noPadMargin(){
    margin: 0;
    padding: 0;
}